In [1]:
#SEQUENCE DATA TYPES

list1=[1,2,3]

for i in range(len(list1)):
    
    print(list1[i])

1
2
3

In [2]:
#SEQUENCE OF COMMA SEPERATED VALUES

tup=() #initializing a empty tuple

t=1,2,3,4 #paranthesis is optional when we construct 1-d tuple

r= (1,2),(3,4)

print(t)

print(r)

(1, 2, 3, 4)
((1, 2), (3, 4))

In [3]:
#tuples are immutable in nature

t(0)= "Zero" #raises Syntax Error

SyntaxError: can't assign to function call (<ipython-input-3-a08b1dda7cf3>, line 3)

In [4]:
#CONCATENATION

tuple1=(1,2,3)

tuple2=(4,5,6)

tuple3=tuple1+tuple2

print(tuple3)

(1, 2, 3, 4, 5, 6)

In [5]:
#repetition

tuple1=(1,2,3)

t3=tuple1*4

print(t3)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [6]:
#MEMBERSHIP OPERATORS IN TUPLE - (in and not in)

if 2 in t:
    
    print("\nYes 2 is found in t\n")
    
if 5 not in t:
    
    print("Cannot find 5 in t !! Seems like it doesn't belong to tuple t")

Yes 2 is found in t

Cannot find 5 in t !! Seems like it doesn't belong to tuple t

In [7]:
#WE CAN USE RANGE FUNCTION , LEN FUNCTION IN TUPLE ,INDEXING IS ALSO POSSIBLE

for i in range(len(t)):
    
    print("Accessing elements through indexing",t[i])

Accessing elements through indexing 1
Accessing elements through indexing 2
Accessing elements through indexing 3
Accessing elements through indexing 4

In [11]:
#APPLYING MAX MIN IN TUPLES

print(str(max(t))+"\n"+str(min(t)))

3
1

In [6]:
def cmp(a,b):
    return (a>b) - (a<b)

In [7]:
print(cmp((1,2,3),(4,2,3)))

print(cmp((1,2,3),(1,2,3)))

print(cmp((4,2,3),(1,2,3)))

-1
0
1

In [13]:
t1=(1)

print(t1,type(t1))

1 <class 'int'>

In [15]:
t2=("ant")

print(t2,type(t2))

ant <class 'str'>

In [19]:
t3=(1,) #trailing comma when tuple contains only one element

t4="ant",

print(t3,type(t3))

print("\n"+str(t4)+" "+str(type(t4)))

(1,) <class 'tuple'>

('ant',) <class 'tuple'>

In [17]:
t4=1,2,3,4,
print(t4)

(1, 2, 3, 4)

In [24]:
#unpacking a tuple

t=1,2,3,4

a,b,c,d = t

print(d)

4

In [26]:
#unpacking nested tuples

t=((1,2),(3,4))

(a,b),(c,d)=t

print(b)

2

In [4]:
#SLICING IS POSSIBLE IN TUPLE

print("Slicing a tuple from index 1 to 3 looks like ",t[1:3]) 

#element at third index will not be printed

Slicing a tuple from index 1 to 3 looks like  (2, 3)

In [9]:
# NEGATIVE INDEX FOR TUPLE

print(t[::-1]) #printing reverse values of tuple t

(3, 2, 1)

In [12]:
#TUPLES CAN CONTAIN MUTABLE OBJECTS

t=([1,2],[3,4])

t[0][0]=0

print(t)

([0, 2], [3, 4])